:root {
  --primaryColor: #3ab3a7;
  --primaryHover: #0c988a;
  --secondaryColor: #059789;
  --secHoverColor: #253b53;
  --greyColor: #f7f7f7;
}

.footer {
  background: var(--primaryHover);
}
.footer .setContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.footer .setContainer .content {
  gap: 1rem;
  padding: 2.5rem 0;
}
.footer .setContainer .content .row {
  color: white;
}
.footer .setContainer .content .row .spanText {
  font-weight: 800;
  color: var(--secHoverColor);
  padding: 1rem 0;
}
.footer .setContainer .content .row .contactDiv {
  display: grid;
  gap: 0.5rem;
}
.footer .setContainer .content .row .flex {
  gap: 0.5rem;
}
.footer .setContainer .content .row .icon {
  font-size: 15px;
  color: var(--secHoverColor);
}
.footer .setContainer .content .row span {
  font-size: 14px;
}
.footer .setContainer .content .singleNews {
  margin-bottom: 1rem;
}
.footer .setContainer .content .singleNews .text {
  font-size: 14px;
}
.footer .setContainer .content .singleNews p {
  padding-top: 0.4rem;
}
.footer .setContainer .content .footerLinks ul li {
  font-size: 14px;
  cursor: pointer;
  padding: 0.5rem 0;
}
.footer .setContainer .content .footerLinks ul li:hover {
  color: var(--primaryColor);
}
.footer .setContainer .bottomDiv {
  padding: 1rem;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  gap: 1rem;
  background: var(--primaryColor);
  color: var(--secHoverColor);
  border-radius: 10px;
  margin-bottom: 1rem;
}
.footer .setContainer .bottomDiv .social {
  font-size: 18px;
  cursor: pointer;
}
.footer .setContainer .bottomDiv .social:hover {
  color: white;
}

@media screen and (min-width: 574px) {
  .footer .setContainer .content {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-content: center;
  }
  .footer .setContainer .content .row {
    margin: 0 auto;
  }
  .footer .setContainer .content .row .spanText {
    font-size: 14px;
  }
  .footer .setContainer .content .row .contactDiv {
    display: grid;
    gap: 1rem;
  }
  .footer .setContainer .content .row .flex {
    gap: 1rem;
  }
  .footer .setContainer .content .row .flex .icon {
    font-size: 14px;
  }
  .footer .setContainer .content .row .flex span {
    font-size: 14px;
  }
  .footer .setContainer .content .row .singleNews .text {
    font-size: 14px;
  }
  .footer .setContainer .content .row .singleNews p {
    padding-top: 1rem;
  }
  .footer .setContainer .content .row .footerLinks ul li {
    font-size: 14px;
    cursor: pointer;
    padding: 0.5rem 0;
  }
  .footer .setContainer .bottomDiv {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024) {
  .footer .setContainer .content .row .spanText {
    font-size: 17px;
  }
  .footer .setContainer .content .row .flex {
    gap: 1rem;
  }
  .footer .setContainer .content .row .flex .icon {
    font-size: 18px;
  }
  .footer .setContainer .content .row .flex span {
    font-size: 16px;
  }
  .footer .setContainer .content .row .singleNews .text {
    font-size: 16px;
  }
  .footer .setContainer .content .row .footerLinks ul li {
    font-size: 16px;
  }
}/*# sourceMappingURL=Footer.css.map */